<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天气首页</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.0.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="col-md-4" for="province">省份:</label>
                    <div class="col-sm-8" id="province">
                        <!-- 样式1 -->
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-md-4 control-label" for="city">城市:</label>
                    <div class="col-sm-8" id="city">
                        <!-- 样式1 -->
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="col-md-4 control-label" for="district">区县:</label>
                    <div class="col-sm-8" id="district">
                        <!-- 样式1 -->
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-default" type="button">查询</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>